name: cool-forecast-debug

services:
  cool.forecast.api:
    container_name: cool-forecast-api
    build:
      context: .
      dockerfile: CoolForecast.Api/Dockerfile
    depends_on:
      cool.forecast.db:
        condition: service_healthy
      cool.forecast.seq:
        condition: service_started
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - 5238:8080

  cool.forecast.db:
    image: timescale/timescaledb-ha:pg14-latest
    container_name: cool-forecast-db
    environment:
      - POSTGRES_DB=cool-forecast
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  cool.forecast.seq:
    image: datalust/seq:latest
    container_name: cool-forecast-seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5080:80
